#editor-buttons {
    right: 20px;
    text-align: center;
    width: 50px;
    height: calc(720px - 200px);
    position: absolute;
    margin-top: 100px;
}

#editor-buttons tr{
    vertical-align: top;
}

#editor-buttons div{
    height: 50px;
    width: 50px;
    background: rgba(255, 136, 0, 0.85);
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
}

#editor-buttons div:hover{
    background: rgba(255, 136, 0, 0.95);
}

#saveLevelModal {
    background: rgba(125, 125, 125, 0.85);
    padding: 50px 25px;
    display: none;
}

#saveLevelModal h3 {
    text-align: center;
    color: #fff;
}

#saveLevelModal form {
    margin-top: 50px;
}

#loadLevelModal {
    background: rgba(125, 125, 125, 0.85);
    padding: 50px 25px;
    display: none;
}

#loadLevelModal h3 {
    text-align: center;
    color: #fff;
}

#loadLevelModal form {
    margin-top: 50px;
}

#loadLevelModal select {
    min-width: 500px;
}