@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    background: #2e3131 !important;
}

.centeredCanvas {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
}

.centeredModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    padding: 100px 50px;
    border-radius: 5px;
    z-index: 100;
}

#completeLevelModal {
    background: rgba(42, 221, 7, 0.85);
    padding: 50px 25px;
    display: none;
}

#completeLevelModal h3 {
    text-align: center;
    color: #fff;
}

#completeLevelModal form {
    margin-top: 50px;
}

#failedLevelModal {
    background: rgba(218, 13, 13, 0.85);
    padding: 50px 25px;
    display: none;
}

#failedLevelModal h3 {
    text-align: center;
    color: #fff;
}

#failedLevelModal form {
    margin-top: 50px;
}

#failedLevelModal select {
    min-width: 500px;
}

#profile h3 {
    color: red;
}