<!DOCTYPE html>
<html>
    <head>
        <title>COMP 4770</title>
        <script src="index.js"></script>
    </head>
    <body>

    	<div id="signInDiv">

    		Username: <input id="signInDiv-username"><br>
    		Password: <input id="signInDiv-password"><br>
    		<button id="signInDiv-signIn">Login</button>
    		<button id="signInDiv-signUp">Sign Up</button>
    		
    	</div>

    	<div id="signUpDiv" style="display: none">

			Email: <input id="signUpDiv-email"><br>
    		Username: <input id="signUpDiv-username"><br>
    		Password: <input id="signUpDiv-password"><br>
    		Confirm Password: <input id="signUpDiv-confirmpass">

    	</div>

    	<div id="game" style="display: none">
    		
    	</div>
        

    </body>
</html>