<!DOCTYPE html>
<html>
<head>
    <title>Need 4 Screech</title>
    <script type="text/javascript" src="dist/index.js"></script>
    <link rel="stylesheet" href="css/main.css"></link>
    <link rel="stylesheet" href="css/authentication.css"></link>
    <link rel="stylesheet" href="css/editor.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@2.1.0/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <div class="authentication">
            <div id="login" style="display: block;">
                <div class="fullscreen-bg">
                    <div class="fullscreen-bg">
                        <video loop muted autoplay class="fullscreen-bg__video">
                            <source src="assets/video/City.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="title" style="margin:0 auto;">
                        <img src="assets/images/Need-4-Screech.png">
                    </div>
                    <div class="crush">
                        <img src="assets/images/crush.png" height="250px" style="transform:rotate(340deg);">
                    </div>
                    <div class="screech">
                        <img src="assets/images/screech.png" height="250px" style="transform:rotate(19deg);">
                    </div>
                    <div class="fishnchips">
                        <img src="assets/images/blue_star.png" height="200px">
                    </div>
                    <div class="purity">
                        <img src="assets/images/purity.png" height="200px">
                    </div>
                    <div class="fries">
                        <img src="assets/images/fries.png" height="200px">
                    </div>
                </div>
                <div class="nes-container">
                    <div class="nes-field">
                        <input id="loginUsername" type="text" placeholder="username" class="nes-input"><br>
                        <input id="loginPassword" type="password" placeholder="password" class="nes-input"><br>
    
                        <button id="onLogin" class="nes-btn is-primary">Login</button><br>
                    
                        <span>Don't have an account?</span>
                        <a href="#" id="goToSignup">Sign Up Now</a>
                    </div>
                </div>

            </div>

            <div id="signUp" style="display: none;">

                <div class="fullscreen-bg">
                    <div class="fullscreen-bg">
                        <video loop muted autoplay class="fullscreen-bg__video">
                            <source src="assets/video/City.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="title" style="margin:0 auto;">
                        <img src="assets/images/Need-4-Screech.png">
                    </div>
                    <div class="crush">
                        <img src="assets/images/crush.png" height="250px" style="transform:rotate(340deg);">
                    </div>
                    <div class="screech">
                        <img src="assets/images/screech.png" height="250px" style="transform:rotate(19deg);">
                    </div>
                    <div class="fishnchips">
                        <img src="assets/images/blue_star.png" height="200px">
                    </div>
                    <div class="purity">
                        <img src="assets/images/purity.png" height="200px">
                    </div>
                    <div class="fries">
                        <img src="assets/images/fries.png" height="200px">
                    </div>
                </div>

                <div class="nes-container">
                    <div class="nes-field">
                        <input id="signUpUsername" type="text" placeholder="username" class="nes-input"><br>
                        <input id="signUpEmail" type="text" placeholder="email" class="nes-input"><br>
                        <input id="signUpPassword" type="password" placeholder="password" class="nes-input"><br>
                        <input id="signUpConfirm" type="password" placeholder="confirm password" class="nes-input"><br>
    
                        <button id="onSignUp" class="nes-btn is-primary">Sign Up</button><br>
                        
                        <span>Already have an account?</span>
                        <a href="#" id="goToLogin">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="levelEditor" class="centeredCanvas">
            <div id="saveLevelModal" class="centeredModal">
                <h3 class="nes-text">Save Level</h3>
                <form>
                    <input id="saveLevelName" type="text" class="nes-input" placeholder="Level Name"></input>
                    <div style="text-align: center; margin-top: 20px;">
                        <div id="saveLevelButton" class="nes-btn">Save</div>
                    </div>
                </form>
            </div>
            <div id="loadLevelModal" class="centeredModal">
                <h3 class="nes-text">Load Level</h3>
                <form>
                    <div class="nes-select">
                        <select id="loadLevelsList" class="default_select">
                        </select>
                    </div>
                    <div style="text-align: center; margin-top: 20px;">
                        <div id="loadLevelButton" class="nes-btn">Load</div>
                    </div>
                </form>
            </div>
        <table id="editor-buttons">
            <tbody>
                <tr><td><div id="levelEditorSaveLevel"></div></td></tr>
                <tr><td><div id="levelEditorLoadLevel"></div></td></tr>
                <tr><td><div id="levelEditorSetActive"></div></td></tr>
            </tbody>
        </table>
        <canvas id="levelEditorCanvas" width="1280" height="720"></canvas>
    </div>

    <div id="menu" class="centeredCanvas">
        <canvas id="menuCanvas" width="1280" height="720"></canvas>
    </div>

    <div id="gamePlay" class="centeredCanvas">
        <canvas id="gamePlayCanvas" width="1280" height="720"></canvas>
    </div>

    <div id="overworld" class="centeredCanvas">
        <canvas id="overworldCanvas" width="1280" height="720"></canvas>
    </div>

</body>
</html>


