<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script type="text/javascript" src="index.js"></script>
</head>
<body>

    <div id="login" style="display: block;">

        <input id="loginUsername" type="text" placeholder="username"><br>
        <input id="loginPassword" type="password" placeholder="password"><br>

        <button id="onLogin">Login</button><br>

        <span>Don't have an account?</span>
        <a href="#" id="goToSignup">Sign Up Now</a>

    </div>

    <div id="signUp" style="display: none;">

        <input id="signUpUsername" type="text" placeholder="username"><br>
        <input id="signUpEmail" type="text" placeholder="email"><br>
        <input id="signUpPassword" type="password" placeholder="password"><br>
        <input id="signUpConfirm" type="password" placeholder="confirm password"><br>

        <button id="onSignUp">Sign Up</button><br>

        <span>Already have an account?</span>
        <a href="#" id="goToLogin">Login</a>

    </div>

    <div id="levelEditor">
        <canvas id="levelEditorCanvas" width="1280" height="720"></canvas>
    </div>

    <div id="gamePlay">
        <canvas id="gamePlayCanvas" width="1280" height="720"></canvas>
    </div>

</body>
</html>


